name: SemVer

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  semver:
    name: cargo semver-checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-semver-checks
        uses: taiki-e/install-action@cargo-semver-checks

      - name: Check semver
        run: cargo semver-checks
